<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/style.css">
    <title>About</title>
</head>
<body>
    <nav id='nav'>
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/works">Works</a></li>
            <li><a href="/photos">Photos</a></li>
        </ul>
    </nav>
    <h1>About Luna</h1>
    <p><b>Luna is the happiest dog in the world!</b><br><br>She was born around April 15th, 2019 but she and her brothers were abandoned on the street. 
        Luckily, her current owners found her and couldn't resist to her sweet face and a shy and kind personality.
    Nowadays, she's a very happy dog, running all day and playing with her toys!</p>
</body>
</html>