<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/style.css">
    <title>Home</title>
</head>
<body>
    <nav id='nav'>
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/works">Works</a></li>
            <li><a href="/photos">Photos</a></li>
        </ul>
    </nav>
    <div id='main'>
        <img alt='luna' src='./styles/images/main.jpg'/>
        <h1>Luna</h1>
        <h2>The best dog ever!</h2>
    </div>
</body>
</html>