<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/style.css">
    <title>Works</title>
</head>
<body>
    <nav id='nav'>
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/works">Works</a></li>
            <li><a href="/photos">Photos</a></li>
        </ul>
    </nav>
    <h1>Achievements</h1>
    <p><b>Knows how to sit, lay down and give the paw!</b><br><br>
        Quarantine was a very productive time for Luna. She learned very quickly how to obey commands and please her owners.
    Of course, don't expect to be presented with these and not give her a treat! How dare you!</p>

    <p><b>Can find a toy hidden anywhere!</b><br><br>
        Need to find something? Luna is your go-to dog! She cand find anything and never gives up until she finds it!
        Also, she's always available to play hide and seek with you, but be aware: you will always lose.</p>
    </body>
</body>
</html>